body {
    background-image: url("./images/crossword.png");
    font-family: 'Roboto Condensed', sans-serif;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

#main-container {
    width: 1080px;
    height: 640px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -320px;
    margin-left: -540px;
    display: flex;
    flex-wrap: wrap;
}

.top-box {
    width: 270px;
    height: 270px;
}

.bottom-box {
    width: 270px;
    height: 370px;
}

.top-box, .bottom-box {
    color: white;
    padding: 10px 20px 10px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#menu-box {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.menu-item {
    cursor: pointer;
    width: 135px;
    height: 90px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.lighter-menu-item {
    background-color: #0E6C91;
}

.darker-menu-item {
    background-color: #0A627F;
}

#title-box {
    background-color: #F67D21;
    color: white;
    padding: 20px;
    position: relative;
}

#title {
    font-family: 'Kalam', cursive;
    font-size: 46pt;
}

#subtitle {
    font-size: 16pt;
    position: absolute;
    bottom: 65px;
}

#photo-box {
    background-image: url("./images/picker-it.jpg");
}

#studies-box {
    background-color: #5EC4FF;
}

#portfolio-box {
    width: 540px;
    height: 370px;
    position: relative;
}

.portfolio-img {
    z-index: 1;
}

#left-arrow, #right-arrow {
    cursor: pointer;
    position: absolute;
    top: 150px;
    z-index: 2;
}

#left-arrow {
    left: 5px;
}

#right-arrow {
    right: 5px;
}

#toolbox-box {
    background-color: #18C9A6;
}

#career-box {
    background-color: #00A0FC;
}

.box-title {
    margin-bottom: 15px;
}

.logo {
    width: 75px;
    height: 75px;
    margin: 15px;
}

#toolbox-box {
    position: relative;
}

#html-img {
    position: absolute;
    top: 25px;
    left: 50px;
}

#bootstrap-img {
    position: absolute;
    top: 120px;
    left: 105px;
}

#jquery-img {
    position: absolute;
    top: 165px;
    left: 30px;
}

#ajax-img {
    position: absolute;
    bottom: 145px;
    left: 100px;
}

#json-img {
    position: absolute;
    bottom: 140px;
    right: 25px;
}

#node-img {
    position: absolute;
    bottom: 70px;
    left: 90px;
}

#scrum-img {
    position: absolute;
    bottom: 20px;
    left: 25px;
}

#lean-img {
    position: absolute;
    bottom: 20px;
    right: 25px;
}

.bottom-box, #portfolio-box {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px -1px 9px 0px rgba(107,107,107,0); 
    box-shadow: 0px 10px 13px -7px #000000, -1px -1px 9px 0px rgba(107,107,107,0);
}


/* Responsiveness settings - three columns */

@media screen and (max-width: 1080px) {

    #main-container {
        width: 810px;
        position: relative;
        margin: 10px auto 10px auto;
        top: 0;
        left: 0;
    }

    #studies-box {
        order: 6;
    }

    #career-box {
        order: 7;
        width: 540px;
        height: 270px;
    }

    .bottom-box, #portfolio-box {
        -webkit-box-shadow: none; 
        box-shadow: none;
    }

}


/* Responsiveness settings - two columns */

@media screen and (max-width: 840px) {

    #main-container {
        width: 540px;
        margin: 10px auto 10px auto;
    }
    #menu-box {
        order: 1;
    }

    #title-box {
        order: 2;
    }

    #photo-box {
        order: 3;
    }

    #studies-box {
        order: 4;
    }

    #career-box {
        order: 5;
        width: 270px;
        height: 370px;
        margin-bottom: 0;
    }

    #toolbox-box {
        order: 6;
    }

    #portfolio-box {
        order: 7;
    }

}

/* Responsiveness settings - one column */

@media screen and (max-width: 570px) {

    #main-container {
        width: 270px;
        margin: 10px auto 10px auto;
    }

    #portfolio-box {
        width: 270px;
        height: 185px;
    }

    .portfolio-img {
        width: 270px;
        height: 185px;
    }

    #left-arrow, #right-arrow {
        top: 70px;
    }

}