body {
    background-image: url("./images/crossword.png");
    font-family: 'Roboto Condensed', sans-serif;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

#main-container {
    width: 1080px;
    margin: 10px auto 10px auto;
    display: flex;
    flex-wrap: wrap;
}

#menu-bar {
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

#title-box {
    width: 270px;
    height: 90px;
    background-color: #F67D21;
    color: white;
    position: relative;
}

#title {
    font-family: 'Kalam', cursive;
    font-size: 30pt;
    position: absolute;
    top: 10px;
    left: 10px;
}

#subtitle {
    font-size: 14pt;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.menu-item {
    cursor: pointer;
    width: 135px;
    height: 90px;
    color: white;
    padding: 10px 20px 10px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.lighter-menu-item {
    background-color: #0E6C91;
}

.darker-menu-item {
    background-color: #0A627F;
}

#page-content {
    width: 1080px;
    background-color: white;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px -1px 9px 0px rgba(107,107,107,0); 
    box-shadow: 0px 10px 13px -7px #000000, -1px -1px 9px 0px rgba(107,107,107,0);
}

/* Specific styling for the Portfolio page */

#filters {
    overflow: hidden;
    background-color: #f1f1f1;
  }

button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    padding: 14px 28px;
    transition: 0.3s;
  }
  
button:hover {
    font-weight: bold;
  }

button:active {
    background-color: white;
}

.tab-selected {
    background-color: white;
}

#portfolio-container {
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.portfolio-item {
    width: 500px;
    padding: 10px 10px 25px 10px;
}

.portfolio-img {
    width: 480px;
    -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.5); 
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.5);
}

/* Specific styling for the Contact page */

#form-container {
    width: 1080px;
    padding: 20px;
}

#contact-form, #contact-intro {
	padding: 50px;
}

input {
    width: 80%;
    padding: 15px;
    border: 1px solid #cccccc;
    margin-top: 5px;
    margin-bottom: 15px;
}

textarea {
    width: 80%;
    height: 200px;
    padding: 15px;
    border: 1px solid #cccccc;
    margin-top: 5px;
    margin-bottom: 15px;
}

#submit-button {
    background-color: #0A627F;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 15px;
    border: none;
}